##  Librer铆as y Configuraci贸n Inicial

Para nuestros ejemplos, usaremos las siguientes librer铆as esenciales en ingenier铆a de datos:

In [35]:
import pandas as pd          # Manipulaci贸n y an谩lisis de datos
import sqlite3              # Base de datos SQL ligera
import numpy as np          # Operaciones num茅ricas
import json                 # Manejo de datos JSON
import logging              # Sistema de logs
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings('ignore')

# Configuraci贸n de logging para monitorear el pipeline
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')
logger = logging.getLogger(__name__)

# Extraemos los datos atravez de la base de datos en excel

In [ ]:
 # Cargar los datos
file_path = '..\\data\\raw\\Paper1_WebData_Final.csv'
df = pd.read_csv(file_path)

In [44]:
def extract_from_database(df: pd.DataFrame) -> pd.DataFrame:

    try:
        logger.info("Iniciando extracci贸n de datos...")
        
        # Cargar los datos
        df = df
        
        print("--- 1. Datos Crudos Extra铆dos ---")
        print(f"Registros extra铆dos: {len(df)}")
        print(f"Columnas: {list(df.columns)}")
        print("\nPrimeras filas:")
        print(df)
        print("\nInformaci贸n del DataFrame:")
        print(df.info())
        print('')
        
        logger.info(f"Extracci贸n completada: {len(df)} registros")
        
        return df
        
    except Exception as e:
        logger.error(f"Error en la extracci贸n: {str(e)}")
        raise

# Testeamos la extraccion de los datos

In [45]:
extract_from_database(df)

2025-09-06 11:52:14,077 - INFO - Iniciando extracci贸n de datos...
2025-09-06 11:52:14,260 - INFO - Extracci贸n completada: 1114966 registros

--- 1. Datos Crudos Extra铆dos ---
Registros extra铆dos: 1114966
Columnas: ['test_date', 'nid', 'L500k', 'L1k', 'L2k', 'L3k', 'L4k', 'L6k', 'L8k', 'R500k', 'R1k', 'R2k', 'R3k', 'R4k', 'R6k', 'R8k', 'gender', 'naics', 'age_group', 'region', 'NAICS_descr']

Primeras filas:
         test_date      nid    L500k   L1k   L2k   L3k   L4k   L6k   L8k  R500k   R1k   R2k   R3k   R4k   R6k   R8k gender   naics  age_group region                    NAICS_descr
0        12-FEB-2007        1  10.0    5.0   5.0  15.0   5.0   0.0  20.0  20.0   20.0  10.0  10.0  25.0  30.0  45.0    M    331512      4       MA                           Steel Investment Foundries
1        29-FEB-2008        2  15.0    5.0  15.0  20.0  20.0  15.0  15.0  10.0    0.0  10.0  15.0  30.0  20.0  15.0    M    331512      3       MA                           Steel Investment Foundries
2        08-FEB-2006        3  25.0   20.0  15.0  20.0  35.0  25.0  15.0  20.0   20.0  10.0  15.0  40.0  30.0  30.0    M    331512      3       MA                           Steel Investment Foundries
3        29-FEB-2008        6  10.0   10.0  10.0  35.0  50.0  30.0  10.0  10.0   10.0   5.0  30.0  35.0  25.0  20.0    M    331512      4       MA                           Steel Investment Foundries
4        08-FEB-2006        8  15.0   15.0   5.0  15.0  45.0  30.0  20.0  15.0   15.0   5.0  40.0  50.0  20.0   5.0    M    331512      3       MA                           Steel Investment Foundries
...              ...      ...    ...   ...   ...   ...   ...   ...   ...    ...   ...   ...   ...   ...   ...   ...    ...     ...        ...    ...                                                ...
1114961  11-DEC-2001  3214185  20.0   15.0  20.0  15.0  25.0  15.0  25.0  15.0   15.0  10.0  15.0  20.0  20.0  15.0    M    334418      3       MW    Printed Circuit Assembly (Electronic Assembly)...
1114962  02-DEC-2002  3214186   5.0    5.0  15.0  50.0  60.0  55.0  25.0  10.0   15.0  30.0  55.0  60.0  55.0  50.0    M    334418      4       MW    Printed Circuit Assembly (Electronic Assembly)...
1114963  31-JAN-2001  3214187  10.0    5.0   5.0   0.0  10.0  10.0  10.0   5.0    0.0   0.0   5.0   5.0  15.0  10.0    M    334418      1       MW    Printed Circuit Assembly (Electronic Assembly)...
1114964  13-MAR-2001  3214189  10.0    0.0   5.0   0.0  10.0  15.0  10.0   5.0    0.0   5.0   5.0  10.0  10.0  10.0    F    334418      1       MW    Printed Circuit Assembly (Electronic Assembly)...
1114965  13-MAR-2001  3214191   5.0    5.0  10.0  15.0  10.0  15.0  35.0  30.0   20.0  25.0  15.0  10.0  30.0  25.0    M    334418      3       MW    Printed Circuit Assembly (Electronic Assembly)...

[1114966 rows x 21 columns]

Informaci贸n del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1114966 entries, 0 to 1114965
Data columns (total 21 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   test_date    1114966 non-null  object
 1   nid          1114966 non-null  int64
 2   L500k        1114910 non-null  float64
 3   L1k          1114900 non-null  float64
 4   L2k          1114905 non-null  float64
 5   L3k          1114905 non-null  float64
 6   L4k          1114932 non-null  float64
 7   L6k          1114889 non-null  float64
 8   L8k          1112680 non-null  float64
 9   R500k        1114897 non-null  float64
 10  R1k          1114896 non-null  float64
 11  R2k          1114893 non-null  float64
 12  R3k          1114899 non-null  float64
 13  R4k          1114914 non-null  float64
 14  R6k          1114868 non-null  float64
 15  R8k          1112659 non-null  float64
 16  gender       1111722 non-null  object
 17  naics        1114966 non-null  int64
 18  age_group    1114966 non-null  int64
 19  region       1086910 non-null  object
 20  NAICS_descr  1114966 non-null  object
dtypes: float64(14), int64(3), object(4)
memory usage: 178.6+ MB
None

         test_date      nid    L500k   L1k   L2k   L3k   L4k   L6k   L8k  R500k   R1k   R2k   R3k   R4k   R6k   R8k gender   naics  age_group region                    NAICS_descr
0        12-FEB-2007        1  10.0    5.0   5.0  15.0   5.0   0.0  20.0  20.0   20.0  10.0  10.0  25.0  30.0  45.0    M    331512      4       MA                           Steel Investment Foundries
1        29-FEB-2008        2  15.0    5.0  15.0  20.0  20.0  15.0  15.0  10.0    0.0  10.0  15.0  30.0  20.0  15.0    M    331512      3       MA                           Steel Investment Foundries
2        08-FEB-2006        3  25.0   20.0  15.0  20.0  35.0  25.0  15.0  20.0   20.0  10.0  15.0  40.0  30.0  30.0    M    331512      3       MA                           Steel Investment Foundries
3        29-FEB-2008        6  10.0   10.0  10.0  35.0  50.0  30.0  10.0  10.0   10.0   5.0  30.0  35.0  25.0  20.0    M    331512      4       MA                           Steel Investment Foundries
4        08-FEB-2006        8  15.0   15.0   5.0  15.0  45.0  30.0  20.0  15.0   15.0   5.0  40.0  50.0  20.0   5.0    M    331512      3       MA                           Steel Investment Foundries
...              ...      ...    ...   ...   ...   ...   ...   ...   ...    ...   ...   ...   ...   ...   ...   ...    ...     ...        ...    ...                                                ...
1114961  11-DEC-2001  3214185  20.0   15.0  20.0  15.0  25.0  15.0  25.0  15.0   15.0  10.0  15.0  20.0  20.0  15.0    M    334418      3       MW    Printed Circuit Assembly (Electronic Assembly)...
1114962  02-DEC-2002  3214186   5.0    5.0  15.0  50.0  60.0  55.0  25.0  10.0   15.0  30.0  55.0  60.0  55.0  50.0    M    334418      4       MW    Printed Circuit Assembly (Electronic Assembly)...
1114963  31-JAN-2001  3214187  10.0    5.0   5.0   0.0  10.0  10.0  10.0   5.0    0.0   0.0   5.0   5.0  15.0  10.0    M    334418      1       MW    Printed Circuit Assembly (Electronic Assembly)...
1114964  13-MAR-2001  3214189  10.0    0.0   5.0   0.0  10.0  15.0  10.0   5.0    0.0   5.0   5.0  10.0  10.0  10.0    F    334418      1       MW    Printed Circuit Assembly (Electronic Assembly)...
1114965  13-MAR-2001  3214191   5.0    5.0  10.0  15.0  10.0  15.0  35.0  30.0   20.0  25.0  15.0  10.0  30.0  25.0    M    334418      3       MW    Printed Circuit Assembly (Electronic Assembly)...

[1114966 rows x 21 columns]

## Ahora vamos a hallar los datos vacios y los vamos a remplazar con medidas de tendencia central
hay algunos datos como 999 998 997 los cuales representan ademas de los datos nulos:
- 997 = refusal to test (esta fila la podemos eliminar)
- 998 = no response at maximum value (podemos remplazarlo con el dato maximo)
- 999 = not tested (podemos remplazarlo con medidas de tendencia central)

In [ ]:

# miramos cuantos datos nulos hay en cada columna
def check_missing_data(df):
    missing_data = df.isnull().sum()
    # buscamos 997 998 999 en las columnas de frecuencias de la audiometria
    colums_to_check = ['L500k', 'L1k', 'L2k', 'L3k', 'L4k', 'L6k', 'L8k', 'R500k', 'R1k', 'R2k', 'R3k', 'R4k', 'R6k', 'R8k', 'gender']
    for col in colums_to_check:
        if col in df.columns:
            missing_data += df[col].isin([997, 998, 999]).sum()
    missing_percentage = (missing_data / len(df)) * 100
    missing_df = pd.DataFrame({'Missing Values': missing_data, 'Percentage': missing_percentage})
    missing_df = missing_df[missing_df['Missing Values'] > 0].sort_values(by='Missing Values', ascending=False)
    
    print("\n--- 2. Datos Faltantes por Columna ---")
    print(missing_df)
    
    return missing_df

check_missing_data(df)

2025-09-06 10:57:02,063 - INFO - Iniciando extracci贸n de datos...
2025-09-06 10:57:04,103 - INFO - Extracci贸n completada: 1114966 registros

         test_date      nid    L500k   L1k   L2k   L3k   L4k   L6k   L8k  R500k   R1k   R2k   R3k   R4k   R6k   R8k gender   naics  age_group region                    NAICS_descr
0        12-FEB-2007        1  10.0    5.0   5.0  15.0   5.0   0.0  20.0  20.0   20.0  10.0  10.0  25.0  30.0  45.0    M    331512      4       MA                           Steel Investment Foundries
1        29-FEB-2008        2  15.0    5.0  15.0  20.0  20.0  15.0  15.0  10.0    0.0  10.0  15.0  30.0  20.0  15.0    M    331512      3       MA                           Steel Investment Foundries
2        08-FEB-2006        3  25.0   20.0  15.0  20.0  35.0  25.0  15.0  20.0   20.0  10.0  15.0  40.0  30.0  30.0    M    331512      3       MA                           Steel Investment Foundries
3        29-FEB-2008        6  10.0   10.0  10.0  35.0  50.0  30.0  10.0  10.0   10.0   5.0  30.0  35.0  25.0  20.0    M    331512      4       MA                           Steel Investment Foundries
4        08-FEB-2006        8  15.0   15.0   5.0  15.0  45.0  30.0  20.0  15.0   15.0   5.0  40.0  50.0  20.0   5.0    M    331512      3       MA                           Steel Investment Foundries
...              ...      ...    ...   ...   ...   ...   ...   ...   ...    ...   ...   ...   ...   ...   ...   ...    ...     ...        ...    ...                                                ...
1114961  11-DEC-2001  3214185  20.0   15.0  20.0  15.0  25.0  15.0  25.0  15.0   15.0  10.0  15.0  20.0  20.0  15.0    M    334418      3       MW    Printed Circuit Assembly (Electronic Assembly)...
1114962  02-DEC-2002  3214186   5.0    5.0  15.0  50.0  60.0  55.0  25.0  10.0   15.0  30.0  55.0  60.0  55.0  50.0    M    334418      4       MW    Printed Circuit Assembly (Electronic Assembly)...
1114963  31-JAN-2001  3214187  10.0    5.0   5.0   0.0  10.0  10.0  10.0   5.0    0.0   0.0   5.0   5.0  15.0  10.0    M    334418      1       MW    Printed Circuit Assembly (Electronic Assembly)...
1114964  13-MAR-2001  3214189  10.0    0.0   5.0   0.0  10.0  15.0  10.0   5.0    0.0   5.0   5.0  10.0  10.0  10.0    F    334418      1       MW    Printed Circuit Assembly (Electronic Assembly)...
1114965  13-MAR-2001  3214191   5.0    5.0  10.0  15.0  10.0  15.0  35.0  30.0   20.0  25.0  15.0  10.0  30.0  25.0    M    334418      3       MW    Printed Circuit Assembly (Electronic Assembly)...

[1114966 rows x 21 columns]
--- 1. Datos Crudos Extra铆dos ---

Registros extra铆dos: 1114966

Columnas: ['test_date', 'nid', 'L500k', 'L1k', 'L2k', 'L3k', 'L4k', 'L6k', 'L8k', 'R500k', 'R1k', 'R2k', 'R3k', 'R4k', 'R6k', 'R8k', 'gender', 'naics', 'age_group', 'region', 'NAICS_descr']


Informaci贸n del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1114966 entries, 0 to 1114965
Data columns (total 21 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   test_date    1114966 non-null  object
 1   nid          1114966 non-null  int64
 2   L500k        1114910 non-null  float64
 3   L1k          1114900 non-null  float64
 4   L2k          1114905 non-null  float64
 5   L3k          1114905 non-null  float64
 6   L4k          1114932 non-null  float64
 7   L6k          1114889 non-null  float64
 8   L8k          1112680 non-null  float64
 9   R500k        1114897 non-null  float64
 10  R1k          1114896 non-null  float64
 11  R2k          1114893 non-null  float64
 12  R3k          1114899 non-null  float64
 13  R4k          1114914 non-null  float64
 14  R6k          1114868 non-null  float64
 15  R8k          1112659 non-null  float64
 16  gender       1111722 non-null  object
 17  naics        1114966 non-null  int64
 18  age_group    1114966 non-null  int64
 19  region       1086910 non-null  object
 20  NAICS_descr  1114966 non-null  object
dtypes: float64(14), int64(3), object(4)
memory usage: 178.6+ MB
None

--- 2. Datos Faltantes por Columna ---
             Missing Values  Percentage
region           668463       59.953667
gender           643651       57.728307
R8k              642714       57.644269
L8k              642693       57.642386
R6k              640505       57.446146
L6k              640484       57.444263
R2k              640480       57.443904
R1k              640477       57.443635
R500k            640476       57.443545
R3k              640474       57.443366
L1k              640473       57.443276
L3k              640468       57.442828
L2k              640468       57.442828
L500k            640463       57.442379
R4k              640459       57.442021
L4k              640441       57.440406
test_date        640407       57.437357
nid              640407       57.437357
naics            640407       57.437357
age_group        640407       57.437357
NAICS_descr      640407       57.437357

             Missing Values  Percentage
region           668463       59.953667
gender           643651       57.728307
R8k              642714       57.644269
L8k              642693       57.642386
R6k              640505       57.446146
L6k              640484       57.444263
R2k              640480       57.443904
R1k              640477       57.443635
R500k            640476       57.443545
R3k              640474       57.443366
L1k              640473       57.443276
L3k              640468       57.442828
L2k              640468       57.442828
L500k            640463       57.442379
R4k              640459       57.442021
L4k              640441       57.440406
test_date        640407       57.437357
nid              640407       57.437357
naics            640407       57.437357
age_group        640407       57.437357
NAICS_descr      640407       57.437357

## Ahora vemos ha usar tecnicas de imputacion de datos para remplazar los datos falantes